.cheese-cake{
    background-image: url('../images/cheese-cake.jpg');
    background-size: 100%;
}

.straberry-cake{
    background-image: url('../images/straberry-cheese-cake.jpg');
    background-size: 100%;
}